/* This styling is for the section that displays the logos from business users of Brief.io for social proof/trust building. */

.trusted-logos {

    background-color: var(--white);
    margin-top: 150px;
    padding-top: 150px;
    padding-bottom: 150px;

}

.trusted-logos-heading {

    padding-left: 365px;
    padding-right: 365px;

}

.trusted-logos-row {

    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 500px;
    padding-right: 500px;

}

.trusted-logo {

    max-width: 150px;
    height: auto;

}