/* This styling is for the first tabbed element on Home.jsx that displays different blocks of content based on the tab that was clicked. It is positioned right
after the staggered content with 4 content blocks. */

.tabbed-feature-doc-output {

   margin-left: 365px;
   margin-right: 365px;
   margin-top: 150px;

}

.tabbed-feature-doc-output-nav {

    margin-top: 60px;
    display: flex;
    gap: 20px;
    background-color: var(--light-grey);
    border-radius: 35px;
    padding: 8px;

}

.tabbed-feature-doc-output-nav button {

    font-family: var(--font-main);
    font-size: 21px;
    font-weight: 600;
    padding: 12px 0;
    border: none;
    border-radius: 30px;
    background-color: var(--light-grey);
    color: var(--text-dark);
    cursor: pointer;
    flex: 1;

}

/* This overrides the base button styling only when that class is present. */

.tabbed-feature-doc-output-nav button.tab-active {
    background-color: var(--burgundy);
    color: var(--white);
    border: 2px solid var(--burgundy);
}

.tabbed-feature-doc-output-content {

    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 60px;

}

.tabbed-feature-doc-output-text {

    flex: 1;

}

.tabbed-feature-doc-output-text h3 {

    font-size: 48px;

}

.tabbed-feature-doc-output-text ul {

    list-style: none;
    padding: 0;
    margin-top: 32px;

}

.tabbed-feature-doc-output-text li {

    font-size: 28px;
    margin-bottom: 28px;
}

.tabbed-feature-doc-output-image {

    flex: 1;

}

.tabbed-feature-doc-output-image img {

    height: 700px;
    display: block;

}