.dashnav-sidebar {

    width: 260px;
    background-color: var(--ui-paneling);
    border-right: 1px solid var(--border-line);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.dashnav-header {

    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 100px;
    padding: 20px 0;
    border-bottom: 1px solid var(--border-line);

}

.dashnav-header img {

    height: 30px;
    width: auto;

}

.dashnav-nav {

    /* display: flex; */
    width: 100%;
    padding: 0 20px;

}

.dashnav-nav ul {

    list-style: none;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
       
}

.dashnav-link {

    color: var(--text-dark);
    font-size: 18px;
    font-weight: 400;
    display: flex;
    /* Flex direction added temporarily. */
    /* flex-direction: column; */
    align-items: center;
    gap: 16px;
    text-decoration: none;
    padding: 20px 0;
    /* border-bottom: 1px solid var(--border-line); */

}

.dashnav-link i {

    color: var(--burgundy);

}

.dashnav-link.active {

    font-weight: 700;
    background-color: var(--light-grey);
    border-left: 4px solid var(--burgundy);
    /* Margin and padding below was added as temporary fix for active styling. This needs to be redone. */
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 16px;
    padding-right: 20px;

}

.dashnav-footer {

    width: 100%;
    margin-top: auto;
    border-top: 1px solid var(--border-line);
    padding: 30px 16px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

}

.dashnav-footer p {

    font-size: 14px;
    color: var(--text-dark);
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin: 0;

}

.dashnav-footer p i {

    color: var(--burgundy);

}

.dashnav-logout {
    background: none;
    border: none;
    font: inherit;
    font-size: 14px;
    color: var(--text-dark);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.dashnav-logout i {
    color: var(--burgundy);
}