/* This styles file is for the 50/50 split-screen layout. */

.login-page {

    display: flex;
    min-height: 100vh;

}

.login-form-side {

    width: 50%;

}

.login-image-side {

    width: 50%;
    background-image: url("../../assets/portrait.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}