.campaign-brief-builder-wrapper {

    padding: 150px 20px;

}


.landing-footer {

    display: flex;
    justify-content: center;
    padding: 40px 20px;
    background-color: var(--dark-charcoal);

}

.landing-footer-logo {

    width: 200px;

}