/* Intro Section */

.section-intro {
    margin-top: 150px;
}

.section-heading {
    font-size: 64px;
    text-align: center;
}

.section-intro-image {
    margin-top: 50px;
    margin-left: 365px;
    margin-right: 365px;
}

.section-image {
    width: 100%;
    display: block;
    height: 200px;
}