/* Full hero styling */

.hero {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 950px;
    padding-top: 50px;
    box-sizing: border-box;

}

.hero-content {

    max-width: 100%;
    margin-top: 215px;
    padding-left: 225px;
    padding-right: 225px;

}

.hero-headline {

    font-size: 80px;
    margin-bottom: 20px;
    line-height: 1;

}

.hero-subhead {

    font-size: 42px;
    color: var(--text-muted);
    margin-bottom: 30px;

}

.hero-cta {

    background-color: var(--burgundy);
    color: var(--light-grey);
    border: 3px solid var(--brand-grey);
    padding: 20px 50px;
    border-radius: 8px;
    font-family: var(--font-main);
    font-size: 21px;
    font-weight: 700;
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
    transition: background-color 0.4s ease;

}

.hero-cta:hover {

    background-color: #cccccc;
    border: 3px solid #b52026;
    color: #b52026;
    box-shadow: 2px 2px 5px black;



}

/* Intro Section */

.section-intro {
    margin-top: 150px;
}

.section-heading {
    font-size: 64px;
    text-align: center;
}

.section-intro-image {
    margin-top: 50px;
    margin-left: 365px;
    margin-right: 365px;
}

.section-image {
    width: 100%;
    display: block;
    height: 200px;
}