.footer {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
    padding: 48px 175px;
    background-color: var(--dark-charcoal);

}

.footer-logo-img {

    height: 40px;
    margin-bottom: 20px;

}

.footer-brand {

    display: flex;
    flex-direction: column;
    gap: 8px;

}

.footer-name {

    font-weight: bold;
    font-size: 24px;
    color: var(--burgundy);

}

.footer-address {

    color: var(--cool-white);

}

.footer-column {

    display: flex;
    flex-direction: column;
    gap: 8px;

}

.footer-column-title {

    font-weight: bold;
    font-size: 18px;
    margin-bottom: 4px;
    color: var(--burgundy);

}

.footer-column a {

    color: var(--cool-white);

}

.pulse-logo-container {

    display: flex;
    align-items: center;
    margin-top: 10px;

}

.pulse-logo {

    height: 2em;
    width: auto;

}

.pulse-logo-container h3 {

    color: var(--cool-white);
    font-size: 25px;
    padding-left: 5px;

}

.pulse-logo-container sup {

    font-size: 13px;
    color: var(--burgundy);
    margin-left: 4px;

}

.pulse-logo-container i {

    /* display: flex; */
    color: var(--cool-white);
    font-size: 12px;
    padding-left: 10px;

}

.footer-divider {

    width: calc(100% + 350px);
    border: none;
    border-top: 1px solid var(--text-muted);
    margin-top: 24px;
    margin-left: -175px;
    margin-right: -175px;

}

.footer-copyright {

    width: 100%;
    text-align: center;
    color: var(--cool-white);

}

.footer-social-icons {

    font-size: 24px;
    display: flex;
    gap: 12px;

}